<section class="xs-pt3 md-pt4 xs-inline-block xs-pb5 {% if  page.title == 'Directory' %}md-hide{% endif %}">
  <div class="wrapper">
    <div class="clearfix gutters">
      <div class="col xs-col-12 sm-col-8">
        <h2 class="text-secondary bold xs-pt6">A List of</br>Great Coffee.</h2>
        <p class="text-secondary bold xs-pt1 xs-pb6 md-pb0">Built by <a class="text-secondary" href="https://john.design">John Choura Jr.</a></p>
      </div>
      <div class="col xs-col-12 sm-col-4 xs-relative">
        <div class="sm-float-right xs-pt1 sm-pt5">
          <a href="{{ site.baseurl }}/"><img src="/assets/images/seal.svg" class="footer-seal" alt="{{ site.title }}" /></a>

        </div>
      </div>
    </div>
  </div>
</section>



<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/assets/js/vendor/lunr.min.js" | prepend: site.baseurl }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112777288-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112777288-1');
</script>

<script type="text/javascript">
  handleSearch(JSON.parse(localStorage.getItem('allShops')))
</script>

{% include /scripts/localstore-js.html %}
