<div class="search-nav-field closed xs-block xs-pt1 sm-pt2 ms-pt3">
  <div class="wrapper">
    <a href="{{ site.baseurl }}/"><img src="/assets/images/logo.svg" class="header-logo" alt="{{ site.title }}" /></a>
    <nav class="menu-desktop">
        <a class="search-nav closed button button--white menu-desktop xs-relative"><img src="/assets/images/x.svg" class="header-logo xs-mr0" alt="{{ site.title }}" />
        </a>
    </nav>
    <div class="search hero-inner">
      <div id="search-box-outer" class="col xs-col-12 -xs-pt6">
        <form class="xs-inline-block gutters" action="/search" method="get">
          <input type="text" class="search-box text-white h1 bold col xs-col-10" name="query" placeholder="Search Here" autofocus>
          <input id="search" type="submit" value="search" class="col xs-col-2">
        </form>
        <h5 class="search-help bold text-white xs-block xs-mt1">Press Enter to Search</h5>
      </div>
    </div>

  </div>
</div>



<header class=" header xs-block xs-pt1 sm-pt2 ms-pt3">

  <div class="wrapper">
    <a href="{{ site.baseurl }}/"><img src="/assets/images/logo.svg" class="header-logo" alt="{{ site.title }}" /></a>
    <nav class="menu-desktop">
        <a href="/directory" class="button button--white menu-desktop"><img src="/assets/images/explore.svg" class="header-logo -xs-hide -lg-inline-block" alt="{{ site.title }}" /> <span>Directory</span></a>
        <a class="search-nav closed button button--white menu-desktop xs-relative"><img src="/assets/images/search.svg" class="header-logo xs-mr0" alt="{{ site.title }}" />
        </a>
    </nav>
    <nav class="menu-mobile">
        <a href="#" class="button button--white menu-mobile search"><img src="/assets/images/menu.svg" class="header-logo" alt="{{ site.title }}" /></a>
    </nav>
  </div>

</header>
