<header class=" header xs-block xs-pt1 sm-pt2 ms-pt3">

  <div class="wrapper">
    <a href="{{ site.baseurl }}/"><img src="/assets/images/logo.svg" class="header-logo" alt="{{ site.title }}" /></a>
    <nav class="menu-desktop">
        <a href="/recipes" class="button button--white menu-desktop"><img src="/assets/images/drip.svg" class="header-logo -xs-hide -lg-inline-block" alt="{{ site.title }}" /> <span>Recipes</span></a>
        <a href="/directory" class="button button--white menu-desktop"><img src="/assets/images/explore.svg" class="header-logo -xs-hide -lg-inline-block" alt="{{ site.title }}" /> <span>Directory</span></a>
        <a class="search-nav button button--white menu-desktop xs-relative"><img src="/assets/images/search.svg" class="search-nav-icn header-logo xs-mr0" alt="{{ site.title }}" />
        </a>
    </nav>
    <nav class="menu-mobile">
        <a class="menu-nav button button--white menu-mobile search"><img src="/assets/images/menu.svg" class="menu-nav-icn header-logo" alt="{{ site.title }}" /></a>
    </nav>
  </div>

</header>
