<div class="menu-nav-drawer closed xs-block ">
  <div class="wrapper">
    <a href="/recipes" class="button button--white xs-block"><img src="/assets/images/drip.svg" class="header-logo" alt="{{ site.title }}" /> <span>Recipes</span></a>
    <a href="/directory" class="button button--white xs-block"><img src="/assets/images/explore.svg" class="header-logo" alt="{{ site.title }}" /> <span>Directory</span></a>
    <a href="/search" class="button button--white xs-block"><img src="/assets/images/search.svg" class="header-logo" alt="{{ site.title }}" /> <span>Search</span></a>
  </div>
</div>
