<div class="search-nav-drawer closed xs-block ">
  <div class="wrapper">
    <div id="search-box-outer" class="search -xs-pt6">
      <form class="xs-inline-block xs-col-12 gutters" action="/search/" method="get">
        <input type="text" class="search-box text-primary h1 bold col xs-col-10" name="query" placeholder="Search Here" autocomplete="off"  autofocus>
        <input type="submit" value="search" class="col xs-col-2">
      </form>
      <h5 class="search-help bold text-primary xs-block xs-mt1">Press Enter to Search</h5>
    </div>
  </div>
</div>
