<div class="tab-bar">
  <a href="/" class="button button--white {% if page.url == "/" %}active{% endif %}"><img src="/assets/images/home.svg" class="header-logo" alt="{{ site.title }}" /> <span>Home</span></a>
  <a href="/recipes" class="button button--white {% if page.url contains "/recipes" %}active{% endif %}"><img src="/assets/images/drip.svg" class="header-logo" alt="{{ site.title }}" /> <span>Recipes</span></a>
  <a href="/directory" class="button button--white {% if page.url contains "/directory" %}active{% endif %}"><img src="/assets/images/explore.svg" class="header-logo" alt="{{ site.title }}" /> <span>Directory</span></a>
  <a href="#top" class="search-nav button button--white {% if page.url contains "/search" %}active{% endif %}"><img src="/assets/images/search.svg" class="header-logo" alt="{{ site.title }}" /> <span>Search</span></a>
</div>
