.wrapper {
  width: 100vw;
  padding: 0 1.5em;
  margin: 0 auto;

  @include media-query(sm) {
    padding: 0 6vw !important;
  }

  @include media-query(md) {
    padding: 0 9vw !important;
  }

  @include media-query(lg) {
    padding: 0 12vw !important;
  }

  @include media-query(xl) {
    padding: 0 12vw !important;
  }

  @include media-query(xxl) {
    padding: 0 16vw !important;
  }
}

.card {
  border-radius: ($space-1 / 2);
  background-color: $fill-secondary-lightest;
  padding: 1.25rem 2rem;
  border: none;
  box-shadow: none;
}

.header {
  position: absolute;
  z-index: 8888;
}

.menu-nav-drawer {
  overflow: hidden;
  background: $fill-primary-lightest;
  transition: all .2s $bez;

  @include media-query(md) {
    display: none;
  }

  &.closed {
    height: 0;
    padding: 0;
    opacity: 0;
  }
  &.open {
    height: auto;
    padding: $space-3 0;
    opacity: 1;
  }

  .button {
    font-size: .9em !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    display: inline-block;
    color: $fill-primary !important;
    margin-bottom: $space-1;

    span {
      transform: translateY(-2px);
      padding-left: .2em;
      display: inline-block;
    }
  }



  a {
    display: inline-block;
    position: relative;

    img {
      display: inline-block;
      width: 1.3em;
      height: 1.3em;
      transform: translateY(2px);
    }
  }
}

.tab-bar {
  display: flex;
  position: fixed;
  bottom: -1px;
  left: 0;
  right: -1px;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: $fill-primary-lightest !important;

  @include media-query(md) {
    display: none;
  }

  a {
    display: flex !important;
    position: relative;
    flex-grow: 1;
    flex-basis: 50%;
    border: none !important;
    border-radius: 0 !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0 !important;
    background-color: $fill-primary-lightest !important;

    &.active {
      background-color: $fill-white !important;

      * {
        opacity: .25;
      }
    }

    img {
      display: inline-block;
      width: 1.15em;
      height: 1.15em;
      transform: translateY(2px);
    }

    span {
      font-size: $text-6;
      line-height: 2;
      color: $text-primary !important;
    }
  }
}

nav {
  float: right;
  padding: 1.5em 0;

  @include media-query(md) {
    padding: 2.8em 0;
  }

  &.menu-mobile {
    display: none;

    @include media-query(md) {
      display: none;
    }

    a {
      display: inline-block;
      position: relative;

      img {
        display: block;
        width: 1.3em;
        height: 1.3em;
        transform: none;
      }
    }
  }

  &.menu-desktop {
    display: none;

    @include media-query(md) {
      display: inline-block;
    }

    a {
      display: inline-block;
      position: relative;
      margin-left: $space-1;

      img {
        display: inline-block;
        width: 1.1em;
        height: 1.1em;
        transform: translateY(2px);
        margin-right: 0.2em;
      }

      &.search {
        img {
          width: 1.2em;
          height: 1.2em;
          margin: 0;
        }
      }
    }
  }

  .button {
    font-size: .9em !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    display: inline-block;
    color: $fill-primary !important;

    &:hover {
      background-color: $fill-primary-lightest;
    }
  }

  .menu-desktop {
    display: none;

    @include media-query(md) {
      display: inline-block;
    }
  }
}

.header-logo {
  width: 60vw;
  max-width: 250px;
  transform: translateX(-0.25em);

  @include media-query(sm) {
    width: 13em;
  }
  @include media-query(md) {
    width: 16em;
  }
}

.hero {
  background: $fill-secondary-lightest;
  padding-top: 9em;

  @include media-query(lg) {
    padding-top: 12em;
  }

  @include media-query(xxl) {
    padding-top: 18em;
  }

  &--naked {
    background: transparent !important;
  }

  &-lg {
    padding-bottom: 20vw;
    margin-bottom: 0;
  }

  &-sm {
    background: $fill-secondary-light;
    position: relative;
    overflow: hidden;

    .img {
      position: absolute;
      background-size: cover;
      background-position: center;
      width: calc(100% + (1.5em * 2));
      opacity: .3;
      top: -1.5em;
      right: -1.5em;
      left: -1.5em;
      bottom: -1.5em;
      z-index: 1;
    }
  }

  &-blue {
    background: lighten($fill-primary, 40%);
  }
}

.hero-inner {
  padding: 6vw 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  @include media-query(sm) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  h1 {
    z-index: 2;
    position: relative;
    margin-right: .75em;
    margin-bottom: .25em;

    @include media-query(sm) {
      display: flex;
      flex: .9;
      margin-bottom: 0;
    }
  }
}

.hero-overlap {
  margin-top: -20vw;
}

section {
  margin-bottom: $space-4;

  @include media-query(md) {
    margin-bottom: $space-6;
  }
}

.section-header {
  color: $text-secondary;
  font-weight: bold;
  text-decoration: underline;
  display: block;
  padding-bottom: $space-2 !important;
}

.feature-block {
  display: inline-block;
  width: 100%;
}

.feature {
  display: inline-block;
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;

  .img {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: calc(100% + (1.5em * 2));
    opacity: .4;
    top: -1.5em;
    right: -1.5em;
    left: -1.5em;
    bottom: -1.5em;

    @include media-query(md) {
      width: calc(100% + (2.5em * 2));
      top: -2.5em;
      right: -2.5em;
      left: -2.5em;
      bottom: -2.5em;
    }
  }

  a {
    .text {
      position: absolute;
      bottom: 0;
      padding-bottom: 0;
      color: #fff;
      z-index: 8888;

      @include media-query(md) {
        transform: translateY(2em);
        transition: all .3s $bez;
      }
    }
    h5 {

      @include media-query(md) {
        opacity: 0;
        transition: all .3s $bez;
      }
    }

    @include media-query(md) {
      &:hover {
        .text {
          transform: translateY(0);
        }
        h5 {
          opacity: 1;
        }
      }
    }
  }
}

.recipe.feature {
  .img {
    opacity: 1
  }
}

.feature-max, .feature-min {

  a {
    position: absolute;;
    // background: red;
    width: calc(100% - (1.5em * 2));
    height: calc(100% - (1.5em * 2));

    @include media-query(md) {
      width: calc(100% - (2.5em * 2));
      height: calc(100% - (2.5em * 2));
    }
  }

  &-inner {
    background: $fill-secondary;
    position: relative;
    width: 100%;
    padding: 1.5em;

    @include media-query(md) {
      padding: 2.5em;
    }
  }
}

.feature-max {
  width: 100%;

  &-inner {
    background: $fill-secondary;
    height: 20em;

    @include media-query(md) {
      height: 45vw;
      max-height: 75vh;
    }
  }

  &:first-child {

    @include media-query(md) {
      width: 60%;
    }
    @include media-query(lg) {
      width: 66.6666%;
    }
  }
  &:nth-child(2) {

    @include media-query(md) {
      width: 40%;
    }
    @include media-query(lg) {
      width: 33.3333%;
    }
  }
}

.feature-min {

  &-inner {
    background: $fill-secondary;
    height: 15em;

    @include media-query(md) {
      height: 30vw;
      max-height: 55vh;
    }
  }
}

.recipe-card {
  display: inline-block;
  position: relative;
  overflow: hidden;

  .img {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: calc(100% + (1.5em * 2));
    opacity: 1;
    top: -1.5em;
    right: -1.5em;
    left: -1.5em;
    bottom: -1.5em;

    @include media-query(md) {
      width: calc(100% + (2.5em * 2));
      top: -2.5em;
      right: -2.5em;
      left: -2.5em;
      bottom: -2.5em;
    }
  }

  a {
    .text {
      position: absolute;
      bottom: 0;
      padding-bottom: 0;
      color: #fff;
      z-index: 8888;

      @include media-query(md) {
        transform: translateY(2em);
        transition: all .3s $bez;
      }
    }
    h5, h6 {
      @include media-query(md) {
        opacity: 0;
        transition: all .3s $bez;
      }
    }

    @include media-query(md) {
      &:hover {
        .text {
          transform: translateY(0);
        }
        h5, h6 {
          opacity: 1;
        }
      }
    }
  }

  a {
    position: absolute;;
    // background: red;
    width: calc(100% - (1.5em * 2));
    height: calc(100% - (1.5em * 2));

    @include media-query(md) {
      width: calc(100% - (2.5em * 2));
      height: calc(100% - (2.5em * 2));
    }
  }

  &-inner {
    background: rgba($fill-secondary, .15);
    position: relative;
    width: 100%;
    padding: 1.5em;
    height: 15em;
    margin-bottom: 1rem;

    @include media-query(md) {
      height: 30vw;
      padding: 2.5em;
    }
  }
}

.recipe-hero-outer {
  height: 0;
}

.recipe-hero {
  display: none;

  @include media-query(md) {
    display: block;
    position: relative;
    top: -50vw;
    min-width: 150%;
    left: -25%;
  }
}

.scroll-right {
  overflow-x: scroll;
  position: relative;
  margin-right: -1.5em !important;
  margin-left: -1.5em !important;

  @include media-query(sm) {
    margin-right: -6vw !important;
    margin-left: -6vw !important;
  }

  @include media-query(md) {
    margin-right: -12vw !important;
    margin-left: -12vw !important;
  }

  &-inner {
    // width: calc(40 * 25%);
    display: block;
    position: relative;
    margin-left: 1.5em !important;

    @include media-query(sm) {
      margin-left: 6vw !important;
    }

    @include media-query(md) {
      margin-left: 12vw !important;
    }
  }

  .col {
    display: inline-block;

    &:first-child {
      display: none;
    }

    > a {
      display: block;
      padding: .65em .95em;
      margin-right: 1em;
      margin-bottom: 1em;
      background: $fill-secondary-lightest;
      border-radius: ($space-1 / 2);

      @include media-query(md) {
        padding: 1em 1.2em;
        margin-right: 1.2em;
        margin-bottom: 1.2em;
      }

      @include media-query(md) {
        margin-right: 1.25em;
        margin-bottom: 1.25em;
      }

      > * {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.pills {

  .col {
    display: inline-block;
    padding: 0 !important;

    > span, > a, > button {
      display: block;
      padding: .6em .8em;
      margin-right: 1.1em;
      margin-bottom: 1.1em;
      background: $fill-secondary-lightest !important;
      border-radius: ($space-1 / 2);

      &.city, &.blue {
        background: $fill-primary-lightest!important;
      }

      > * {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.icn-image {
  width: 1em;
  height: 1em;
  transform: translateY(2px);
}

.comma-list {

  &-item {
    position: relative;
    padding-right: 0.2em;
    // display: inline-block;
    &:after {
      content: ", ";
      display: inline-table;
    }
    &:last-child::after {
      content: "";
      padding-right: 0;
    }
    &:last-child::before {
      content: "and ";
      padding-right: 0;
      text-decoration: none;
    }
    &:only-child {
      &:before, &:after {
        content: "";
      }
    }
  }
}

.comma {

  &-item {
    position: relative;
    padding-right: 0.15em;
    padding-bottom: 0.2em;
    display: inline-block;

    &:after {
      content: ", ";
      color: $text-primary;
      display: inline-table;
    }
    &:last-child {
      &:after {
        content: "." !important;
        padding-right: 0;
      }
    }
  }
}

span.circle {
  font-size: .6em;
  padding-top: .15em;
  margin-top: -.2em;
  text-align: center;
  background: #fff;
  color: inherit;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;

  &-lg {
    font-size: .8em;
    padding-top: .4em;
    width: 1.9em;
    height: 1.9em;
  }

  &-invert {
    color: #fff;
    background: #fff;
  }
}

.hide-first {
  > * {
    &:first-child {
      display: none !important;
    }
  }
}

.footer-seal {
  width: 6em;

  @include media-query(sm) {
    transform: translateX(1em);
  }
  @include media-query(md) {
    width: 8em;
    transform: translateX(.25em);
  }
}

table {
  thead {
    display: none;
  }
  tbody {

  }
  tr {
    td, th {
      font-size: $text-3;
      font-weight: bold;
      color: $text-secondary;
      padding: 0 0 .4em;

      em {
        opacity: .4;
        font-style: normal;
        font-weight: bold;
      }
    }
  }
}

.directory-list {
  width: 100%;
  overflow-y: hidden;
  // height: ;

  @include media-query(md) {
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0;
    left: 50vw;
    background: white;
    overflow-y: scroll;
    z-index: 9999;
  }
  @include media-query(lg) {
    height: 100vh;
  }

  .wrapper {
    @include media-query(md) {
      width: 50vw;
      padding: 0 3vw !important;
    }
  }
}

.controls {
  position: relative;
  // margin-top: -$space-3;

  .filter {
    padding: 0.25em !important;
    // padding-right: 0 !important;

    > .button {
      font-size: $text-4;
      line-height: $line-height-3 !important;
      color: $text-secondary !important;
      background: $text-secondary-lightest!important;
      border-radius: ($space-1 / 2);
    }

    &.active {

      > .button {
        color: $text-primary !important;
        background: $text-primary-lightest !important;
        // border: solid 2px $fill-primary-light!important;
        opacity: 1;
      }
    }
  }

  .section-header {
    padding-top: $space-2 !important;
    padding-bottom: $space-2 !important;
  }

  select {
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    border: none;
    color: $text-primary !important;
    background: $text-primary-lightest !important;
    font-weight: bold;
    border-radius: ($space-1 / 2);
    padding: $space-1;
    position: relative;
    background: url(/assets/images/arrow.svg) 96%/10px no-repeat $fill-primary-lightest !important;

    @include media-query(sm) {
      padding: $space-2;
    }
  }
}

.container {

  .mix {
    display: none;
  }
  .fail-message {
    display: inline-block;
    opacity: 0;
  }
  &.fail {
    .fail-message {
      opacity: 1;
      color: $text-secondary-lighter;
    }
  }
}

.mix {
  display: none;
  margin-bottom: 1em;
}

.mix-card {
  margin-bottom: 1em;
  display: block;

  a {
    background: $fill-secondary-lightest;
    display: block;
    height: 9em;
    padding: $space-2;
    border-radius: ($space-1 / 2);
    overflow: hidden;

    @include media-query(sm) {
      height: 9em;
    }
    @include media-query(md) {
      padding: $space-3;
      height: 20vw;
    }
    @include media-query(lg) {
      height: 17vw;
    }
    @include media-query(xl) {
      height: 12em;
    }
  }
}

.mix-card-mini {
  margin-bottom: 1em;
  display: block;

  a {
    background: $fill-secondary-lightest;
    display: block;
    padding: $space-2;
    border-radius: ($space-1 / 2);
    overflow: hidden;

    @include media-query(sm) {
      // height: 9em;
    }
    @include media-query(md) {
      padding: $space-3;
      // height: 20vw;
    }
    @include media-query(lg) {
      // height: 17vw;
    }
    @include media-query(xl) {
      // height: 12em;
    }
  }
}

.search-help {
  opacity: .75;
}

.search-helper {
  opacity: .75;
}

.search-light::-webkit-input-placeholder {
  color: $fill-primary-lightest;
  opacity: .75;
  pointer-events: none;
}

.search-nav-drawer {
  overflow: hidden;
  background: $fill-primary-lightest;
  transition: all .2s $bez;

  &.closed {
    height: 0;
    padding: 0;
    opacity: 0;
  }
  &.open {
    height: auto;
    padding: 6vw 0;
    opacity: 1;
  }
}

.search {
  input[type="text"] {
    font-weight: bold;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    padding-right: 1em;
    margin-bottom: -2px;
    &:focus, &:hover, &:active {
      -webkit-appearance: none;
      outline: none;
    }
  }

  .search-box {
    position: relative;

    &:after {
      content: "Press Enter to Search";
      position: absolute;
      bottom: -1em;
      left: .65em;
      font-size: $text-6;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .05em;
      color: white;
      opacity: 0;
      transition: all .2s $bez;
    }

    &:hover {
      &:after {
        bottom: -2em;
        opacity: 1;
      }
    }
  }

  ::-webkit-input-placeholder {
    -webkit-text-security: none;
    color: white;
    opacity: .95;
    pointer-events: none;
  }

  input[type="submit"] {
    // width: 100% !important;
    font-size: $text-1;
    font-weight: bold;
    color: transparent;
    background-image: url('/assets/images/search.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 50%;
    background-color: $fill-primary-lighter;
    border: none;
    border-radius: ($space-1 / 2);
    padding: 1em 0;
    margin: 0;
    transition: all .2s $bez;

    &:focus, &:hover, &:active {
      -webkit-appearance: none;
      outline: none;
      background-image: url('/assets/images/search-w.svg');
      background-color: $fill-primary;
    }
  }
}


button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
}

#noscrollbar::-webkit-scrollbar {
  display: none;
}

.wrap {
  white-space: pre-wrap;
}

.text-outline {
  -webkit-text-stroke: 1px $text-blue;
  color: transparent;
  transition: color .2s ease;

  &:hover {
    color: $text-blue;
  }
}

.line-through {
  text-decoration: line-through;
  color: $fill-primary-lighter;
}

.underline {
  text-decoration: underline;
}

.dotted-line {
  line-height: 1.3;
  a {
    border-bottom: 1px dashed $fill-primary;
    text-decoration: none !important;
  }
}

hr {
  height: 2px;
  background-color: $fill-black;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding-bottom: .5em;
}

.hide {
  display: none !important;
}

.show {
  display: inherit;
}


fieldset {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: .5em;
  position: relative;
  width: 100%;

  > * {
    // font-family: monospace;
  }

  legend {
    position: absolute;
    top: .6rem;
    color: rgba($text-primary,.5);
    background: transparent;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  label.hide {
    display: none;
  }

  output {
    font-size: 1.4em;
    color: $text-primary;
    margin-bottom: 1rem;
    margin-top: -2.25rem;
    display: block;
  }

  input[type="range" i]::-webkit-slider-runnable-track {
    background-color: rgba($text-primary,.1);
    height: .5rem;
    border-radius: 1rem;
  }

  input[type="range" i]::-webkit-slider-thumb, input[type="range" i]::-webkit-media-slider-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background-color: rgba($text-primary,1);
    margin-top: -0.25rem;
    -webkit-appearance: none;
  }

  input[type="range" i] {
    padding-bottom: 3.25rem;
  }

  input {
    border: 0;
    display: block;
    height: 2.5em;
    width: calc(100% + (0.5rem * 3));
    margin-left: -0.75rem;
    font-size: 1.4em;
    padding: 0.75rem;
    padding-top: 2.45rem;
    padding-bottom: 1.35rem;
    border: solid 1px rgba(0,0,255,0);
    border-radius: 4px;
    transition: all .1s ease-out;
    color: $text-primary;
    background: transparent;

    &::-webkit-input-placeholder {
      color: rgba($text-primary,.1);
    }

    &:not(.disabled) {
      &:focus {
        background-color: white;
        outline: 0;
        color: $text-primary;
        &:hover {
          background-color: white;
        }
      }

      &:hover {
        background-color: white;
      }
    }
  }

  .list {
    padding-top: 2rem;
  }
}

input {
  border: 1;
}

.slider-image {
  display: flex;
  position: absolute;
  width: calc(100% + .125em);
  flex: 0;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 2.75em;
  padding-left: 0;
  margin-right: -0.25em;

  @include media-query(md) {
    margin-top: 2.25em;
  }

  img {
    width: 1.25em;

    &:nth-child(2) {
      margin-left: .45em;
    }

    &:last-child {
      width: 1.5625em;
    }
  }
}

.slider-image-mod {
  padding-top: 6.45rem;

  @include media-query(md) {
    padding-top: 5.75rem;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#info_block {
  &[data-loading='pending'] {
    h4 {
      position: relative;

      &:after {
        content: "Loading...";
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: $text-5;
        color: $text-secondary-lighter;
        animation: blinker 1s linear infinite;
      }
    }
  }
  &[data-loading='failed'] {
    h4 {
      position: relative;

      &:after {
        content: "Info Not Available...";
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: $text-5;
        color: $text-secondary-lighter;
      }
    }
  }
}

.open-now {
  transition: opacity .6s $bez, transform .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(.8);
  position: relative;

  &[data-loading='pending'] {
    &:after {
      content: "Loading...";
      position: absolute;
      right: .3em;
      bottom: .3em;
      font-size: $text-5;
      color: $text-primary;
      animation: blinker 1s linear infinite;
    }
  }

  &[data-open='true'], &[data-open='false'], &[data-open='closed_forever'] {
    transform: scale(1);
    opacity: 1;
    position: relative;
    z-index: 2;
  }

  &-hero {
    padding: .3em .4em;
    border-radius: $border-radius;
    margin-bottom: .75em;
    z-index: 9999;

    &[data-open='true'] {
      background: $fill-secondary;
      color: $fill-primary;
      box-shadow: rgba($fill-secondary, 1) 0 0 2em 0;
    }
    &[data-open='false'] {
      background: transparent;
      color: $text-white;
      border-color: $text-white;
      border-width: 1px;
      border-style: solid;
    }
    &[data-open='closed_forever'] {
      background: $fill-red;
      color: white;
    }
  }

  &-mini {
    font-size: $text-6;
    padding: .1em .4em;
    margin-left: .2em;
    bottom: .2em;
    border-radius: $border-radius;

    &[data-open='true'] {
      background: $text-secondary;
      color: $fill-white;
    }
    &[data-open='false'] {
      background: $fill-white;
      color: $text-secondary;
      border-color: $text-secondary;
      border-width: 1px;
      border-style: solid;
    }
    &[data-open='closed_forever'] {
      background: $fill-red;
      color: white;
    }
  }
}
