<script>

  L.mapbox.accessToken = 'pk.eyJ1IjoiamNob3VyYSIsImEiOiI4dUd0bF9RIn0.gjN9GZul3zPeCXfDDIMSXA';
  var map = L.mapbox.map('map', 'jchoura.n7gdleah')
  // var map = new mapboxgl.Map({
  //   container: 'map',
  //   style: 'mapbox://styles/jchoura/cis3mh21n001agrm8uhrg5afy'
  // });



    var myLayer = L.mapbox.featureLayer().addTo(map);
    // Tagset Map Loop
    var geojson = {
        type: 'FeatureCollection',
        features: [{% assign sections = site.collections %}{% for section in sections %}{% assign documents = section.docs %}{% for document in documents %}{% if item.title == section.title %}{% else %}{% if document.map %}
        {
            type: 'Feature',
            properties: {
                title: '{{document.title}}',
                'marker-color': '#004EFF',
                'marker-size': 'large',
                url: '{{document.url}}'
            },
            geometry: {
                type: 'Point',
                coordinates: [{% assign point = {{document.map}} | split: ',' %}{{ point[1] }}, {{ point[0] }}]
            }
        },{% endif %}{% endif %}{% endfor %}{% endfor %}
      ]};

    // Makes map fit to markers
    map.fitBounds([{% assign sections = site.collections %}{% for section in sections %}{% assign documents = section.docs %}{% for document in documents %}{% if item.title == section.title %}{% else %}{% if document.map %}[{{document.map}}],{% endif %}{% endif %}{% endfor %}{% endfor %}], {padding: [50, 50]});

    // Makes map fit to markers
    myLayer.setGeoJSON(geojson);
    myLayer.on('mouseover', function(e) {e.layer.openPopup();});
    myLayer.on('mouseout', function(e) {e.layer.closePopup();});


  // Disable drag and zoom handlers.

  map.dragging.disable();
  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();


</script>
