
<script>

  mapboxgl.accessToken = 'pk.eyJ1IjoiamNob3VyYSIsImEiOiI4dUd0bF9RIn0.gjN9GZul3zPeCXfDDIMSXA';
  var start = [-117.7037413,33.7129067];
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/jchoura/cis3mh21n001agrm8uhrg5afy',
    center: start,
    zoom: 8
  });

  map.on('load', function () {
    map.addSource("points", {
        type: "geojson",
        data: {
            "type": "FeatureCollection",
            "features": [{% assign sections = site.collections %}{% for section in sections %}{% assign documents = section.docs %}{% for document in documents %}{% if item.title == section.title %}{% else %}{% if document.map %}
            {
                type: 'Feature',
                properties: {
                    title: '{{document.title}}',
                    icon: 'circle',
                    url: '{{document.url}}',
                    description: '<a href="{{document.url}}">{{document.title}} ➝</a>'
                },
                geometry: {
                    type: 'Point',
                    coordinates: [{% assign point = {{document.map}} | split: ',' %}{{ point[1] }}, {{ point[0] }}]
                }
            },{% endif %}{% endif %}{% endfor %}{% endfor %}]
        },
        cluster: true,
        clusterMaxZoom: 30, // Max zoom to cluster points on
        clusterRadius: 14
    });

    var layers = [
        [150, '#00FBD5'],
        [20, '#00FBD5'],
        [0, '#00FBD5']
    ];

    map.addLayer({
        "id": "points",
        "type": "symbol",
        "source": "points",
        "layout": {
            "icon-image": "{icon}-15"
        }
    });

    layers.forEach(function (layer, i) {
        map.addLayer({
            "id": "cluster-" + i,
            "type": "circle",
            "source": "points",
            "paint": {
                "circle-color": layer[1],
                "circle-radius": 15
            },
            "filter": i === 0 ?
                [">=", "point_count", layer[0]] :
                ["all",
                    [">=", "point_count", layer[0]],
                    ["<", "point_count", layers[i - 1][0]]]
        });
    });

    map.addLayer({
        "id": "cluster-count",
        "type": "symbol",
        "source": "points",
        "layout": {
            "text-field": "{point_count}",
            "text-font": [
                "DIN Offc Pro Medium",
                "Arial Unicode MS Bold"
            ],
            "text-size": 12
        }
    });

  });

  // Create a popup, but don't add it to the map yet.
  var popup = new mapboxgl.Popup({
      closeButton: false,
      closeOnClick: false
  });

  map.on('mousemove', function(e) {
      var features = map.queryRenderedFeatures(e.point, { layers: ['points'] });
      // Change the cursor style as a UI indicator.
      map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';

      if (!features.length) {
          popup.remove();
          return;
      }

      var feature = features[0];

      // Populate the popup and set its coordinates
      // based on the feature found.
      popup.setLngLat(feature.geometry.coordinates)
          .setHTML(feature.properties.description)
          .addTo(map);
  });

  // Disable drag and zoom handlers.

  map.scrollZoom.disable();
  map.addControl(new mapboxgl.Navigation());


var isAtStart = true;

{% assign sections = site.collections %}
{% for section in sections %}
{% if section.title and section.meta.in_nav == true %}

document.getElementById('{{section.label}}').addEventListener('click', function() {

  var {{section.label}} = [{{section.meta.cord}}];
  var target = isAtStart ? {{section.label}} : {{section.label}};

  isAtStart = !isAtStart;

  map.flyTo({

      center: target,
      zoom: {{section.meta.zoom}},
      bearing: 0,

      speed: 1, // make the flying slow
      curve: 1, // change the speed at which it zooms out

      easing: function (t) {
          return t;
      }
  });
});

{% endif %}
{% endfor %}

</script>
