<script src="{{ "/assets/js/recipes.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">
  // Top Level Variables
  RATIO = {% if page.ratio %}{{ page.ratio }}{% else %}14{% endif %}
  BYPASS = 4.82

  // =============
  // Chemex Recipe
  {% if page.function == 'chemexmath()' %}
    chemexmath()
  {% endif %}

  // =============
  // Chemex Recipe
  {% if page.function == 'pourovermath()' %}
    pourovermath()
  {% endif %}

  // =============
  // frenchpress Recipe
  {% if page.function == 'frenchpressmath()' %}
    frenchpressmath()
  {% endif %}

  // =============
  // aeropress Recipe
  {% if page.function == 'aeropressmath()' %}
    aeropressmath()
  {% endif %}


</script>
