<script>

  const searchItemArray = [
    {% assign count = 0 %}{% assign places = site.collections %}{% for place in places %}{% assign shops = place.docs %}{% for shop in shops %}{% if shop.title == place.title %}{% else %}
    {
      id: {{count}},
      title: {{shop.shop_name | jsonify}},
      type: {{shop.type | jsonify}},
      county: {{place.title | jsonify}},
      coffee: {{shop.coffee | strip_html | strip_newlines | jsonify}},
      city: {{shop.city | jsonify}},
      tags: {{shop.tags | strip_html | strip_newlines | jsonify}}
    },
    {% assign count = count | plus: 1 %}{% endif %}{% endfor %}{% endfor %}
  ]

  handleSearch(searchItemArray)

</script>
