<script>


  const getData = async () => fetch("https://cors-anywhere.herokuapp.com/https://api.yelp.com/v3/businesses/{{ page.yelp_id }}", {
    headers: myHeaders
  }).then(response => response.json()).catch((error) => {
    console.log(error)
  });

  const mapFunction = async () => {
    const data = await getData();

    {% if page.map %}
      {% assign has_coord = true | split: ',' %}
      {% assign coord = {{page.map}} | split: ',' %}
    {% else %}
      {% assign has_coord = false | split: ',' %}
      {% assign coord = "null,null" | split: ',' %}
    {% endif %}

    var latitude = {{ has_coord }} ? {{coord[0]}} : data.coordinates.latitude
    var longitude = {{ has_coord }} ? {{coord[1]}} : data.coordinates.longitude

    mapboxgl.accessToken = 'pk.eyJ1IjoiamNob3VyYSIsImEiOiI4dUd0bF9RIn0.gjN9GZul3zPeCXfDDIMSXA';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/jchoura/cis3mh21n001agrm8uhrg5afy',
      center: [longitude, latitude], // starting position
      zoom: 14, // starting zoom
      pitch: 45, // pitch in degrees
      interactive: false
    });

    map.on('load', function () {
      map.addSource("points", {
        "type": "geojson",
        "data": {
            "type": "FeatureCollection",
            "features": [
            {
              type: 'Feature',
              properties: {
                title: "{{page.shop_name}}",
                icon: 'circle'
              },
              geometry: {
                type: 'Point',
                coordinates: [longitude, latitude]
              }
            },
          ]
        }
      });

      map.addLayer({
        "id": "points",
        "type": "symbol",
        "source": "points",
        "layout": {
          "icon-image": "{icon}-15"
        }
      });
    });

    // Create a popup, but don't add it to the map yet.
    var popup = new mapboxgl.Popup({
      closeButton: false,
      closeOnClick: false
    });

    map.on('mousemove', function(e) {
      var features = map.queryRenderedFeatures(e.point, { layers: ['points'] });
      // Change the cursor style as a UI indicator.
      map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';

      if (!features.length) {
        popup.remove();
        return;
      }

      var feature = features[0];

      // Populate the popup and set its coordinates
      // based on the feature found.
      popup.setLngLat(feature.geometry.coordinates)
        .setHTML(feature.properties.title)
        .addTo(map);
    });

    // Disable drag and zoom handlers.
    map.scrollZoom.disable();
    // map.touchZoom.disable();
    map.doubleClickZoom.disable();
    // map.scrollWheelZoom.disable();
    map.addControl(new mapboxgl.Navigation());

  }

  mapFunction()

</script>
