<script type="text/javascript">

  {% if page.yelp_id %}
    loadingHandler("info_block", "data-loading", "pending")
    loadingHandler("is_open_now_hero", "data-loading", "pending")

    fetch("https://cors-anywhere.herokuapp.com/https://api.yelp.com/v3/businesses/{{ page.yelp_id }}", {
      headers: myHeaders
    }).then((resp) => {
      return resp.json();
    }).then((data) => {
      console.log(data);
      loadingHandler("info_block", "data-loading", "success")
      loadingHandler("is_open_now_hero", "data-loading", "success")

      const closed_forever = passBool(data.is_closed)
      const openHoursEl = document.getElementById("open_hours")


      if (!closed_forever) {
        const openHours = data.hours ? data.hours[0].open : []

        const openHourArr = openHours.map(item => {
          let start = formatTime(item.start)
          let end = formatTime(item.end)
          let hours = `${start}–${end}`
          let day = item.day === 0 ? 'Monday' : item.day === 1 ? 'Tuesday' : item.day === 2 ? 'Wednesday' : item.day === 3 ? 'Thursday' : item.day === 4 ? 'Friday' : item.day === 5 ? 'Saturday' : item.day === 6 ? 'Sunday' : ''
          let object = `<tr><td>${day}</td><td>${hours}</td></tr>`
          return object
        })
        const openHourList = openHourArr.join("")
        openHoursEl.innerHTML = openHourList
        let isOpenNowStr = ""
        const isOpenNow = data.hours ? data.hours[0].is_open_now : false

        if (data.hours) {
          isOpenNowStr = isOpenNow ? "Open Now!" : "Not Open"
        } else {
          isOpenNowStr = "Hours Unavailable"
        }

        const openNow = document.getElementById("is_open_now")
        openNow.innerHTML = isOpenNowStr
        openNow.setAttribute('data-open', isOpenNow)

        const openNowHero = document.getElementById("is_open_now_hero")
        openNowHero.innerHTML = isOpenNowStr
        openNowHero.setAttribute('data-open', isOpenNow)

      } else if (closed_forever) {
        console.log("Closed: " + data.is_closed);
        const isOpenNowStr = "Closed Permenantly"

        const openNow = document.getElementById("is_open_now")
        openNow.innerHTML = isOpenNowStr
        openNow.setAttribute('data-open', 'closed_forever')

        const openNowHero = document.getElementById("is_open_now_hero")
        openNowHero.innerHTML = isOpenNowStr
        openNowHero.setAttribute('data-open', 'closed_forever')

        const pageHero = document.getElementById("page_hero")
        pageHero.style.background = "rgba(255,0,0,.65)"

      }

      const addressEl = document.getElementById("address")
      const phoneEl = document.getElementById("phone")

      const address1 = passString(data.location.address1)
      const address2 = passString(data.location.address2)
      const address3 = passString(data.location.address3)
      const city = passString(data.location.city)
      const state = passString(data.location.state)
      const zip_code = passString(data.location.zip_code)
      const phone = passString(data.phone)

      const addressConcat = `${address1} ${address2} ${address3}\r${city}, ${state} ${zip_code}`
      addressEl.innerHTML = addressConcat
      addressEl.href = `http://maps.google.com/?q=${addressConcat}`

      phoneEl.innerHTML = formatPhoneNumber(phone)
      phoneEl.href = `tel:${phone}`

      const heroImage = '/uploads/{{page.slug}}.jpg'
      const yelpImage = passString(data.image_url)
      const heroImageExists = imageExists(heroImage, function(exists) {
        console.log("Has Image: " + exists);
        if (!exists) {
          imageExists(yelpImage, function(exists) {
            if (exists) {
              const imageEl = document.getElementById("hero_image")
              imageEl.style.backgroundImage = `url(${yelpImage})`;
            }
          });
        }
      });

    }).catch((error) => {
      console.log("Shit fucked up! => " + error)
      loadingHandler("info_block", "data-loading", "failed")
      loadingHandler("is_open_now_hero", "data-loading", "failed")
    });

  {% endif %}

</script>
