---
layout: default
---

<section class="hero hero-sm hero-blue fill-white xs-mb0">
  <div class="wrapper">
    <div class="hero-inner">
      <h1 class="text-primary bold xs-pb0">Brewing With <br/>{{ page.title }}</h1>
    </div>
  </div>
</section>

<section class="xs-inline-block">
  <div class="wrapper">
    <div id="Container" class="container gutters">
      <div class="col xs-col-12 md-col-4 md-col-3 xs-mb5">
        <div class="card">
          {% for item in page.ingredients %}
            {% if item.type == 'number' or item.type == 'text' %}
              <fieldset class="">
                <legend>{{ item.label }}  {% if item.locked %}{% else %}<u>Edit</u>{% endif %}</legend>
                <label for="{{ item.label | downcase | remove: " " }}" class="hide">{{ item.label }}</label>
                <input id='{{ item.id }}' class="{{ item.class }} {% if item.locked %}disabled{% endif %}" value="{{ item.value }}" placeholder="{{ item.value }}" type="{{ item.type }}" onkeyup="{{ page.function }}" onchange="{{ page.function }}" {% if item.locked %}disabled{% endif %}>
              </fieldset>
            {% elsif item.type == 'slider' %}

              <fieldset class="">
                <legend>{{ item.label }}  <u>Drag</u></legend>
                <label for="{{ item.label | downcase | remove: " " }}" class="hide">{{ item.label }}</label>
                {% if item.show_images %}
                  <div class="slider-image">
                    <img src="/assets/images/frenchpress-4cup.svg" alt="">
                    <img src="/assets/images/frenchpress-8cup.svg" alt="">
                    <img src="/assets/images/frenchpress-12cup.svg" alt="">
                  </div>
                {% endif %}
                <input id='{{ item.id }}' class="{{ item.class }}{% if item.show_images %} slider-image-mod{% endif %}" value="{{ item.value }}" min="{{ item.min }}" max="{{ item.max }}" step="{{ item.step }}" type="range" oninput="{{ page.function }}" >
                <output for='{{ item.id }}' id='{{ item.id }}-output'>
              </fieldset>
            {% endif %}

          {% endfor %}
          <fieldset class="">
            <legend>Equipment</legend>
            <div class="list">
              {% for item in page.equipment %}
                <p class="bold comma-item"><a href="{{ item.link }}" class=" xs-inline-block">{{ item.name }}</a></p>
              {% endfor %}
            </div>
          </fieldset>
        </div>

      </div>
      <div class="col xs-col-12 md-col-6 md-offset-1 md-col-7 md-offset-1">
        <div class="">

          <div id="Container" class="container gutters">
            <div class="col xs-col-12 recipe-hero-outer">
              <img class="recipe-hero" src="{{ page.background }}" alt="">
            </div>
            <div class="col xs-col-12">
              {% for item in page.short_steps %}
                <div class="xs-flex xs-flex-align-center xs-flex-column xs-pb5">
                  <h4 class="xs-pb0 text-primary-lighter underline xs-text-center">{{ item.label }}</h4>
                  <h3 class="xs-py1 xs-text-center">{{ item.text }}</h3>
                  <h1 class="xs-pb0 xs-text-center"><strong class="{{ item.class }}">{{ item.number }}</strong>{% if item.number != '' %}g{% endif %}</h1>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
      <div class="col xs-col-12">
        <div class="card xs-mt2 xs-py5 xl-py6">
          <div class="xs-flex xs-my5 xl-my6 xs-flex-align-center xs-flex-column">
            <h1 class="xs-pb0">☕️ 😌 🤙</h1>
            <h2 class="xs-py1 xs-text-center">Enjoy The Coffee</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include /scripts/recipes-js.html %}
