---
layout: default
---

<section class="hero hero-sm">
  <div class="wrapper">
    <div class="hero-inner xs-col-12 ">
      <div class="search gutters">
        <div id="search-box-outer" class="col xs-col-12">
          <input type="text" id="search" class="search-box h1 text-white bold xs-col-12" name="query" placeholder="Search Here" autofocus>
          <h5 class="search-help bold text-white xs-inline-block xs-mt1 xs-pr2 hide">Type to Search</h5>
          <h5 class="reset search-help bold text-primary xs-inline-block xs-mt1">Clear Search</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="search">
  <div class="wrapper">
    {{ content }}
  </div>
</section>
