---
layout: default
---

<section class="hero hero-sm xs-mb4">
  <div class="wrapper">
    <div class="hero-inner">
      <div class="xs-col-12 md-col-8 lg-col-7">
        <h1 class="text-white bold xs-pb0"><span class="underline">{{ site[page.collection] | size | minus: 1 }}</span> Shops in {{ page.title }}</h1>
      </div>
    </div>
  </div>
</section>

{% include chunks/section-picker.html %}

<section class="xs-inline-block">
  <div class="wrapper">
    <div id="Container" class="container gutters hide-first">
      {% assign documents = site[page.collection] | sort:"position" %}{% assign cities = documents | group_by: "city" | sort: "name" %}
      {% for city in cities %}
        <div class="mix col xs-col-12 {{ city.name | downcase | replace:' ','-' }}">
          <h1 id="{{ city.name | downcase | remove: " " }}" class="bold text-secondary xs-pt3 -underline">{{ city.name }}</h1>
          {% for item in city.items %}
            {% if item.title == page.title %}
            {% else %}
              <h2 class="bold text-secondary comma-item"><a class="xs-inline-block underline" href="{{ item.url }}">{{ item.shop_name }}</a></h2>
            {% endif %}
          {%endfor%}
        </div>
      {%endfor%}
    </div>
  </div>
</section>

{% include /scripts/section-js.html %}
