---
layout: default
---

<section class="hero hero-sm xs-mb4">
  <div class="wrapper">
    <div class="hero-inner">
      <div class="xs-col-12 md-col-8 lg-col-7">
        <h1 class="text-white bold xs-pb0"><span><span class="underline">{{ site[page.collection] | size | minus: 1 }}</span> Shops in {{ page.title }}</span></h1>
      </div>
    </div>
  </div>
</section>

{% include chunks/section-picker.html %}

<section class="xs-inline-block">
  <div class="wrapper">
    <div id="Container" class="container gutters hide-first">
      {% assign documents = site[page.collection] | sort:"position" %}{% assign cities = documents | group_by: "city" | sort: "name" %}
      {% for city in cities %}
        <div class="mix col xs-col-12 {{ city.name | downcase | replace:' ','-' }}">
          <h1 id="{{ city.name | downcase | remove: " " }}" class="bold text-secondary xs-pt3 -underline">{{ city.name }}</h1>
          <div class="gutters">
            {% for item in city.items %}
              {% if item.title == page.title %}
              {% else %}
                <div class="mix-card result col xs-col-6 sm-col-4 md-col-6 xl-col-4 ">
                  <div class="result-body">
                    <a href="{{ item.url | prepend:site.baseurl }}" class="">
                      <span class="text">
                        <h3 class="bold">{{ item.shop_name }}</h3>
                      </span>
                    </a>
                  </div>
                </div>
              {% endif %}
            {%endfor%}
          </div>

        </div>
      {%endfor%}
    </div>
  </div>
</section>

<script src="{{ "/assets/js/section.js" | prepend: site.baseurl }}"></script>
