---
layout: default
hero: lg
---

<section id="page_hero" class="hero hero-sm">
  <div class="wrapper">
    <div class="hero-inner">
      <h1 id="shop_name" class="text-white bold xs-pb0">{{ page.shop_name }}</h1>
      <span id="is_open_now_hero" class="open-now open-now-hero"></span>
    </div>
  </div>
  <span id="hero_image" class="img" style="background-image:url(/uploads/{{page.slug}}.jpg);"></span>
</section>

<section class="xs-inline-block">
  <div class="wrapper">
    <div class="sm-col-9 col">
      <h2 class="bold text-primary xs-pb4 md-pb0">
        {% include chunks/shop-description.html %}
      </h2>
    </div>
  </div>
</section>

<section class="xs-inline-block">
  <div class="wrapper">

    <div class="xs-col-12 sm-col-6 col xs-mb3 md-mb0">
      <div id='map' class="shop"></div>
    </div>
    <div id="info_block" class="info-block xs-col-12 sm-col-5 sm-offset-1 col xs-relative">
      <span>
        <h4 class="text-secondary info-block-header bold xs-pb3">Location & Contact</h4>
        <h3 class="bold wrap text-primary"><a id="address" class="text-secondary underline" href="http://maps.google.com/?q={{page.address}}">{{page.address}}</a></h3>
        <h3 class="bold wrap text-primary underline"><a id="phone" href="tel:{{page.phone}}" class="text-secondary">{{page.phone}}</a></h3>
        <h4 class="text-secondary info-block-header bold xs-pt3 xs-pb3">Hours <span id="is_open_now" class="open-now open-now-mini"></span></h4>
        {% if page.yelp_id %}
          <table>
            <thead>
              <tr>
                <th>Days</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody id="open_hours"></tbody>
          </table>
        {% else %}
          {{ page.hours | markdownify }}
        {% endif %}
      </span>

    </div>
  </div>
</section>

{% include scripts/shop-js.html %}
