<section>
  <div class="wrapper">
    <h3 class="section-header">Top Brewing Recipes</h3>
    <div class="clearfix gutters">
      {% assign recipes = site.recipes %}
      {% for recipe in recipes limit:2 %}
        <div class="recipe feature feature-min col xs-col-12 sm-col-6 ">
          <div class="feature-min-inner fill-secondary-lightest">
            <a href="{{ site.baseurl }}/recipes/{{ recipe.title | downcase | remove: " " }}" class="">
              <span class="text">
                <h3 class="bold text-primary">{{ recipe.title }}</h3>
                <h5 class="bold underline text-primary">View Recipe</h5>
              </span>
              <span class="img" style="background-image:url({{recipe.background}});"></span>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
