<section class="hero-overlap">
  <div class="wrapper">
    <h3 class="section-header">Top Shops</h3>
    <div class="clearfix gutters">
      {%comment%} Generate Counties {%endcomment%}
      {% assign places = site.collections %}
      {% for place in places %}
        {%comment%} Generate Shops in counties {%endcomment%}
        {% assign shops = place.docs %}
        {% for shop in shops %}
          {% if item.title == place.title %}{% else %}
            {%comment%} Generate featured items {%endcomment%}
            {% assign featured_max_1 = shop.featured_max_1 | limit:1 %}
            {% if featured_max_1 == "yes" %}
              <div class="feature feature-max col">
                <div class="feature-max-inner">
                  <a href="{{ shop.url | prepend:site.baseurl }}" class="">
                    <span class="text">
                      <h2 class="bold">{{ shop.shop_name }}</h2>
                      <h5 class="bold underline">{{ shop.city }}</h5>
                    </span>
                    <span class="img" style="background-image:url(/uploads/{{shop.slug}}.jpg);"></span>
                  </a>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
