<section class="xs-block">
  <div class="wrapper">
    <div class="clearfix gutters">
      <div class="col xs-col-12 lg-col-11">
        <!-- <h1 class="text-primary bold xs-pb4 xs-pt6 xs-block">So. Cal. Map</h1> -->
        <h3 class="section-header">So. Cal. Counties</h3>
        {%comment%} Generate Counties {%endcomment%}
        <div class="">
          {% assign places = site.collections %}
          {% for place in places %}
            {% if place.title and place.meta.in_nav == true %}
              <h1 class="bold comma-item"><a href="/{{ place.label }}/" class="-comma-flow-item xs-inline-block underline">{{ place.title | remove: 'County' }}</a></h1>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="xs-block clearfix gutters xs-mt3">
      <div class="col xs-col-12 sm-col-6">
        <a href="/directory" class=" button button--lg xs-block xs-mt3 xs-py3 md-py4 lg-py6"><h3><img src="/assets/images/explore.svg" class="icn-image xs-mr1" alt="{{ site.title }}" /> View Full Directory</h3></a>
      </div>
      <div class="col xs-col-12 sm-col-6">
        <a href="#top" class="search-nav xs-block button button--lg xs-mt3 xs-py3 md-py4 lg-py6"><h3><img src="/assets/images/search.svg" class="icn-image xs-mr1" alt="{{ site.title }}" /> Search Shops</h3></a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="clearfix gutters">
    <div class="col xs-col-12 ">
      <div class="xs-block xs-relative">
        <div id='map' class="home"></div>
      </div>
    </div>
  </div>
</section>
{% include scripts/home-map-js.html %}
