<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://socal.coffee/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://socal.coffee/search/?query={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>

{% assign place = site.collections %}
{% if page.shop_name %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ site.baseurl }}{{ page.url }}"
      },
      "headline": "{{ page.shop_name }}",
      "description": "A {{ page.type }} in {{ place.title }}, CA"
    }
  </script>
{% endif %}

<!-- {% assign places = site.collections %}
{% for place in places %}
{% if page.shop_name %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ site.baseurl }}{{ page.url }}"
      },
      "headline": "{{ page.shop_name }}",
      "description": "A {{ page.type }} in {{ page.city }}, {{ place.title }}, CA"
    }
  </script>
{% endif %}
{% endfor %} -->

{% if page.type == 'recipe' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ site.baseurl }}{{ page.url }}"
      },
      "headline": "{{ page.title }}",
      "description": "How to brew coffee with a {{ page.title }}"
    }
  </script>
{% endif %}
